#site{

    .site_inner{
        padding: 16px;
        .site_title{
            position: sticky;
            left: 0;
            top: 70px;
            width: 70%;
            height: 5vw;
            background-color: lightpink;
            font-size: 4vw;
            font-weight: 700;      
            border-bottom: 0.2vw solid var(--black100);
            margin-bottom: 100px;

            em{
                font-size: 1.25rem;
                font-weight: bold;
            }/* em */

        }/* site_title */

        .site_wrap{

            .site_item{
                position: sticky;
                left: 0;
                top: 180px;
                height: 70vh;
                @include flex-center;
                text-align: center;
                flex-direction: column;

                &.s1{background-color: var(--subBg100);
                    top: 180px;}/* &.s1 */
                &.s2{background-color: var(--subBg200);
                    top: 200px;}/* &.s2 */
                &.s3{background-color: var(--subBg300);
                    top: 220px;}/* &.s3 */
                &.s4{background-color: var(--subBg400);
                    top: 240px;}/* &.s4 */


                .num{
                    position: absolute;
                    left: 1vw;
                    top: 1vw;
                    font-size: 5vw;
                }/* num */
                .text{
                    margin-bottom: 1rem;

                    >div{
                        font-size: 3vw;
                        line-height: 1.2;
                        text-transform: uppercase;
                        font-family: var(--mainEng-font);
                        text-decoration: underline;
                        font-weight: 700;

                    }
                }/* text */
                .title{
                    font-weight: 600;
                    font-family: var(--mainEng-font);
                }/* title */
                .btn{

                    >a{
                        text-decoration: underline;
                        margin: 0 3px;
                        font-size: 1.1rem;
                        transition:  all 0.3s;

                        &:hover{
                            color: orange;
                        }
                    }
                }/* btn */
                .infor{
                    position: absolute;
                    left: 0;
                    bottom: 3%;
                    display: flex;
                    justify-content: space-between;
                    width: 98%;
                    margin-left: 1%;
                    border-top: 1px solid var(--black100);
                    border-bottom: 1px solid var(--black100);
                    >span{}
                }/*infor  */

            }/* site_item */
        }/* site_wrap */

    }/* site_inner */

}/* #site */