#skip{

    a{
        position: absolute;
        left: 0;
        top: -100px;
        background-color: var(--black);
        color: var(--white);
        padding: 10px 30px;

        &:focus{
            top: 10px;
        }
    }
}